# Copy this file to .env and fill in the missing values.

SHEET_ID=1CScwkbrk0cEpKfczQiXOmGV0qXt5RYGwjl5lc_WDM8c
SERVICE_ACCOUNT_FILE=service_account.json

CT_BASE_URL=https://in1.dashboard.clevertap.com/W8W-6R9-885Z
CT_REFERER_URL=https://in1.dashboard.clevertap.com/W8W-6R9-885Z/journeys/journey/239/report/node-stats
CT_FROM_DATE=20260419

CT_COOKIE=PASTE_YOUR_COOKIE_HERE
CT_CSRF_TOKEN=PASTE_YOUR_CSRF_TOKEN_HERE
